body {
	background-image: url('../Image/colonne-full-couleur-fond2.jpg');
	background-size: 100%, 100%;
	background-attachment: fixed;
	
	}
	h1 {
      font-family : 'GFS Didot', serif;
      font-size:  38px;
	  text-align: center;
}
